.background_color {
    background-color: #242423;
}

.navbar_color {
    background-color: #333533;
}

.button_color_light {
    background-color: #E8EDDF;
}

.light_text {
    color: #e8eddf;
}

.dark_text {
    color: #333533;
}